
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Enroll Student Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Enroll Student Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
	<!-- Entry Form Start -->
	<div class="container-fluid">
		<div class="card" style="">
			<div class="border-bottom bg-light pt-2  mb-4 rounded-top">
				<h6 class="mx-3">Enroll Student</h6>
			</div>
			<div class="p-3">
				<form action="">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3">
								<span class="input-group-text" id=""><i class="bi bi-person"></i></span>
								<input type="text" class="form-control" placeholder="First Name">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id=""><i class="bi bi-person"></i></span>
								<input type="text" class="form-control" placeholder="Last Name">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id=""><i class="bi bi-envelope-open"></i></span>
								<input type="email" class="form-control" placeholder="Email">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id=""><i class="bi bi-calendar2-week"></i></span>
								<input type="date" class="form-control" placeholder="dd/mm/yyyy">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id=""><i class="bi bi-telephone"></i></span>
								<input type="number" class="form-control" placeholder="Enter mobile no">
							</div>
							<div class="input-group mb-3">
								<div class="row g-3">
									<div class="col-auto">
										<label for="exampleFormControlInput1" class="form-label">Gender</label>
									</div>
									<div class="col-auto">
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
											<label class="form-check-label" for="inlineRadio1">Male</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
											<label class="form-check-label" for="inlineRadio2">Female</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
											<label class="form-check-label" for="inlineRadio2">Other</label>
										</div>
									</div>
								</div>						
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group mb-3">
								<label class="input-group-text" for="country">Country</label>
								<select class="form-select" id="country">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="state">State</label>
								<select class="form-select" id="state">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="city">City</label>
								<select class="form-select" id="city">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="">Street</span>
								<input type="text" class="form-control" placeholder="Enter street">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="">Zip</span>
								<input type="number" class="form-control" placeholder="Enter zip code">
							</div>
							<div class="input-group mb-3">
								<div class="row g-3">
									<div class="col-auto">
										<label for="exampleFormControlInput1" class="form-label">Education</label>
									</div>
									<div class="col-auto">
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="checkbox" id="inlineCheckbox1" value="option1">
											<label class="form-check-label" for="inlineCheckbox1">SSC</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="checkbox" id="inlineCheckbox2" value="option2">
											<label class="form-check-label" for="inlineCheckbox2">HSC</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="checkbox" id="inlineCheckbox3" value="option2">
											<label class="form-check-label" for="inlineCheckbox3">Bacherlor</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input mt-1" type="checkbox" id="inlineCheckbox4" value="option2">
											<label class="form-check-label" for="inlineCheckbox4">Masters</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<label class="form-label mt-3" for="profilePhoto">Profile Photo</label>
							<div class="input-group mb-3">
								<input type="file" class="form-control inpFile" id="inpFile">
							</div>
						</div>
						<div class="col-md-5 mt-3">
							<div class="imgPreview-area" id="imgPreview">
								<img src="" alt="Image Preview" class="preview-iamge">
								<span class="imgPreview-defaultText">Preview Image</span>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 mt-4">
							<input type="submit" class="btn btn-success d-block" value="Enroll Student" style="width: 100%;">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Entry Form End -->
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="example" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sagar Mahbub</td>
								<td>md.karim@hotmail.com</td>
								<td>+880 614646</td>
								<td>
									<button class="edit bg-primary border-0 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
										<i class="bi bi-pencil-fill"></i>
									</button>
									<button class="delete bg-danger border-0 rounded">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sagar Mahbub</td>
								<td>md.karim@hotmail.com</td>
								<td>+880 614646</td>
								<td>
									<button class="edit bg-primary border-0 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
										<i class="bi bi-pencil-fill"></i>
									</button>
									<button class="delete bg-danger border-0 rounded">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sagar Mahbub</td>
								<td>md.karim@hotmail.com</td>
								<td>+880 614646</td>
								<td>
									<button class="edit bg-primary border-0 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
										<i class="bi bi-pencil-fill"></i>
									</button>
									<button class="delete bg-danger border-0 rounded">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Action</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form>
				<div class="modal-body">
					<div class="mb-3">
						<label for="name" class="form-label">Name</label>
						<input type="text" class="form-control" id="name">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email address</label>
						<input type="email" class="form-control" id="email">
					</div>
					<div class="mb-3">
						<label for="phone" class="form-label">Phone</label>
						<input type="text" class="form-control" id="phone">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Image Preview Start -->
@section Scripts{
<script>
  const inpFile = document.getElementById("inpFile");
  const preview_Container = document.getElementById("imgPreview");
  const previewImage = preview_Container.querySelector(".preview-iamge");
  const preview_DefaultText = preview_Container.querySelector(".imgPreview-defaultText");

  inpFile.addEventListener("change", function () {
    const imgFile = this.files[0];

    if (imgFile) {
      const reader = new FileReader();
      preview_DefaultText.style.display = "none";
      previewImage.style.display = "block";
      reader.addEventListener("load", function () {
        console.log(this);
        previewImage.setAttribute("src", this.result);
      });
      reader.readAsDataURL(imgFile);
    }
    else {
      preview_DefaultText.style.display = null;
      previewImage.style.display = null;
    }
  });
</script>
}
<!-- Image Preview End -->


