<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Login Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Login Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<!-- Login Form Start -->
<div class="login">
    <div class="login-form">
        <div class="row">
            <div class="col-md-6">
                <div class="img">
                    <img src="~/adminlte/dist/img/loginPage-photo.PNG" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h1>Log In</h1>
                    <div class="login-form-section">
                        <form action="">
                            <div class="userName">
                                <i class="bi bi-person-fill"></i>
                                <input type="text" placeholder="Your Name">
                                <i class="bi bi-chat-square-dots-fill"></i>
                            </div>
                            <div class="password">
                                <i class="bi bi-lock-fill"></i>
                                <input type="password" placeholder="Password">
                                <i class="bi bi-chat-square-dots-fill"></i>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <div class="loginBtn">
                                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Log In">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-account">
                    <a href="/Registration">Create an Account</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="loginWith-icon">
                    <span>or Login with</span>
                    <span><a href=""><i class="bi bi-facebook facebook"></i></a></span>
                    <span><a href=""><i class="bi bi-twitter twitter"></i></a></span>
                    <span><a href=""><i class="bi bi-google google"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form End -->